<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/cloud-icon-3.png">
        <title>About</title>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
        
        <p>This app was created by Birkaran Singh. It uses data from positionstack.com and weatherstack.com!</p>
        <img class="portrait" src="img\IMG_20220304_131743.jpg">
        </div>
        

        {{>footer}}
    </body>
</html>